<?xml version="1.0" encoding="utf-8" ?>
<web-app>
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>com.controller.BoardListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/board/list</url-pattern>
	</servlet-mapping>
</web-app>